*{
	box-sizing:border-box;
    margin: 0%;
}


.container{
    padding:10px;
    margin-left: 10%;
    margin-right: 10%;
}

.container-fluid{
    padding:10px;
}

.row{
	display:flex;
	flex-wrap: wrap;
}

/*  mobile 600 less then */

/*   default work on Mobile less 600 Resolution  */
[class*="col-"]{
	width:100%;
}

/*  tablet 600> */
@media only screen and (min-width: 600px) {
	.col-s-1{ width:8.33% }
	.col-s-2{ width:16.66% }
	.col-s-3{ width:25% }
	.col-s-4{ width:33.33% }
	.col-s-5{ width:41.66% }
	.col-s-6{ width:50% }
	.col-s-7{ width:58.33% }
	.col-s-8{ width:66.66% }
	.col-s-9{ width:75% }
	.col-s-10{ width:83.33% }
	.col-s-11{ width:91.66% }
	.col-s-12{ width:100% }
}

/*  desktop 768> */
@media only screen and (min-width: 768px) {
	.col-1{ width:8.33% }
	.col-2{ width:16.66% }
	.col-3{ width:25% }
	.col-4{ width:33.33% }
	.col-5{ width:41.66% }
	.col-6{ width:50% }
	.col-7{ width:58.33% }
	.col-8{ width:66.66% }
	.col-9{ width:75% }
	.col-10{ width:83.33% }
	.col-11{ width:91.66% }
	.col-12{ width:100% }
}

.navbar{
    
}

.banner{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bannercontent{
    padding:40px;
    background-color: beige;
}

.inputbox{
    padding: 10px;
}
.inputbanner{
    border: solid 1px red;
    width: 100%;
    height: 50px;
}

.subscribe{
    text-align: center;
    color: white;
    background-color: brown;
    padding-top: 40px;
    padding-bottom: 40px;
} 
.subscribebtn{
    background-color: brown;
    border: white solid 2px;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}
.subscribebtn:hover{
    background-color: white;
    color: brown;
}

